body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP8elK50GuUbx4mOUEWODt7j-la9VpIiN95wNzjmAPwUmD5cnX_r2evzH83xqs1yeHGi4&usqp=CAU);
  background-size: cover;
  background-size: 100% 900px;
  background-repeat: no-repeat;
}
.new-class {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEHEPPV9zIol1HRiHEELuHSAlwA1fLTckbOA&s);
  background-size: cover;
  background-size: 100% 900px;
  background-repeat: no-repeat;
}
h1 {
  color: aqua;
  font-size: 70px;
  text-align: center;
}
p {
  color: greenyellow;
  font-size: 70px;
  text-align: center;
}
button {
  opacity: 0; /* Зробити кнопку прозорою */
  width: 100vw; /* Зробити кнопку такою ж широкою, як вікно браузера */
  height: 100vh; /* Зробити кнопку такою ж високою, як вікно браузера */
  position: absolute; /* Зняти її з потоку документу */
  top: 0; /* Розмістити кнопку у верхньому лівому куті */
  left: 0; /* Розмістити кнопку у верхньому лівому куті */
  z-index: 1;
}
